In [70]:
import sqlite3
import pandas as pd
import numpy as np
import matplotlib as plt
import seaborn as sb
import kagglehub

In [71]:
data1 = pd.read_csv('raw_data/anxiety_depression_data.csv')
data2 = pd.read_csv('raw_data/mental_health_and_technology_usage_2024.csv')
data3 = pd.read_csv('raw_data/brain_rot_cases.csv')

In [72]:
data1 = data1.drop(columns=['Substance_Use', 'Financial_Stress', 'Self_Esteem_Score', 'Life_Satisfaction_Score', 'Loneliness_Score','Family_History_Mental_Illness', 'Medication_Use', 'Therapy', 'Meditation'])
data1

,Age,Gender,Education_Level,Employment_Status,Sleep_Hours,Physical_Activity_Hrs,Social_Support_Score,Anxiety_Score,Depression_Score,Stress_Level,Chronic_Illnesses,Work_Stress
0,56,Male,Bachelor's,Unemployed,6.0,0.4,3,4,2,9,0,3
1,69,Female,Bachelor's,Retired,8.8,2.8,6,18,7,6,0,4
2,46,Female,Master's,Employed,5.3,1.6,5,5,13,8,0,7
3,32,Female,High School,Unemployed,8.8,0.5,4,6,3,4,1,4
4,60,Female,Bachelor's,Retired,7.2,0.7,2,7,15,3,0,9
...,...,...,...,...,...,...,...,...,...,...,...,...
1195,23,Female,Other,Student,5.1,0.1,7,16,15,5,0,8
1196,43,Female,Master's,Employed,8.9,0.4,9,19,4,9,0,9
1197,71,Female,PhD,Retired,6.0,0.1,2,15,4,2,0,9
1198,21,Male,Other,Employed,8.5,2.7,8,12,20,2,1,5
1199,36,Male,Other,Employed,4.4,2.6,7,10,10,5,0,2

In [73]:
data2 = data2.drop(columns=['User_ID', 'Social_Media_Usage_Hours', 'Gaming_Hours', 'Screen_Time_Hours', 'Online_Support_Usage'])
data2

,Age,Gender,Technology_Usage_Hours,Mental_Health_Status,Stress_Level,Sleep_Hours,Physical_Activity_Hours,Support_Systems_Access,Work_Environment_Impact
0,23,Female,6.57,Good,Low,8.01,6.71,No,Negative
1,21,Male,3.01,Poor,High,7.28,5.88,Yes,Positive
2,51,Male,3.04,Fair,High,8.04,9.81,No,Negative
3,25,Female,3.84,Excellent,Medium,5.62,5.28,Yes,Negative
4,53,Male,1.20,Good,Low,5.55,4.00,No,Positive
...,...,...,...,...,...,...,...,...,...
9995,42,Male,7.05,Good,Medium,7.37,5.02,Yes,Neutral
9996,31,Other,3.12,Fair,Medium,8.92,9.78,No,Neutral
9997,23,Male,4.38,Poor,High,7.59,2.99,No,Positive
9998,38,Male,4.44,Poor,Medium,7.26,2.24,Yes,Neutral
9999,41,Male,2.50,Fair,Low,4.62,5.09,Yes,Positive

In [74]:
data3 = data3.rename(columns={'How many hours do you spend daily on social media': 'Hours_per_day_on_social_media', 'Do you prefer using technology for work or leisure?': 'NA1', 'How many hours do you spend in front of computer screens or smartphones daily?': 'Hours_per_day_using_technology', 'Do you feel that you use social media excessively?': 'NA2', 'Do social media platforms affect your social relationships?': 'NA3', 'Have you noticed a change in your mood after using technology?': 'Mood_change_after_use', 'How would you rate your level of focus while working or studying? On a scale from 1 to 5, where 1 = very poor and 5 = excellent.': 'NA4', 'Do you find it difficult to concentrate when using technology (social media)?': 'NA5', 'How often do you feel distracted while trying to work or study due to technology (social media)?': 'NA6', 'How would you rate your level of concern regarding technology use, particularly social media? On a scale from 1 to 5, where 1 = very low and 5 = excellent.': 'NA7', 'Do you believe that your use of social media negatively affects y How would you rate your level of concern regarding technology use, particularly social media? On a scale from 1 to 5, where 1 = very low and 5 = excellent.our mental health?': 'NA8', 'Do you believe that your use of social media negatively affects your mental health?': 'Does_social_media_negatively_affect_you?', 'What platforms do you primarily use?': 'NA9', 'Do you think that using certain applications can help reduce feelings of mental fatigue?': 'Do_certain_apps_help_mental_fatigue?', 'Do you use any strategies to reduce technology usage?': 'Do_you_try_to_reduce_technology_usage?', 'If yes was chosen for the above question, what are the strategies?': 'Strategies_to_reduce_technology_use', 'Educational Level': 'Education'})
data3 = data3.drop(columns=['NA1', 'NA2', 'NA3', 'NA4', 'NA5', 'NA6', 'NA7', 'NA8', 'NA9'])

data3

,Age,Gender,Education,Hours_per_day_on_social_media,Hours_per_day_using_technology,Mood_change_after_use,Does_social_media_negatively_affect_you?,Do_certain_apps_help_mental_fatigue?,Do_you_try_to_reduce_technology_usage?,Strategies_to_reduce_technology_use
0,35,0,3,3,3,1,0,1,0,Spending time with family
1,34,1,3,3,3,1,1,1,1,Reading
2,32,1,3,3,3,0,0,1,1,Exercising
3,24,0,2,3,3,0,1,1,1,Spending time with family
4,21,1,2,2,2,1,1,1,1,Reading
...,...,...,...,...,...,...,...,...,...,...
1670,19,0,2,3,3,1,0,1,0,Reading
1671,51,0,3,2,2,1,0,1,1,Exercising
1672,25,0,3,2,2,1,0,1,1,Spending time with family
1673,33,0,3,1,3,1,1,1,0,Reading
1674,36,1,3,3,3,1,1,1,0,Exercising